html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: url("../images/img1.png") no-repeat center;
	background-size: cover;
	font-family: "Mingzat", sans-serif;
	margin: 0;
}
.container {
	width: 100vw;
	height: 100vh;
	margin: 0;
}
.sidebar {
	padding: 20px;
}
.userinfo {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 0;
	margin-right: 200px;
	background-color: rgba(148, 168, 154, 0.7);
	border-radius: 20px;
	width: 500px;

	/* justify-content: space-between; */
}
.avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	margin-left: 15px;
	opacity: 1;
	/* top: -50px; */
	/* left: calc(50% - 50px); */
}
.username {
	font-size: 1.2rem;
	color: #1982c4;
	margin-top: 22px;
	margin-left: 100px;
	position: relative;
}
.contacts {
	display: flex;
	justify-content: left;
	margin-top: 15px;
	margin-right: 200px;
	border-radius: 20px;
	width: 500px;
	background-color: #1a1a1a;
	opacity: 0.7;
	width: 500px;
}
.chats {
	text-decoration: none;
	color: #9a9a9a;
}
.menu {
	padding: 0;
	margin: 15px;
	list-style-type: none;
}
.listItems {
	background: #1a1a1a;
	border-radius: 10px;
	width: calc(500px - 44px);
	margin-bottom: 10px;
	border: none;
	align-items: left;
}
.contactStatus {
	width: 15px;
	height: 15px;
}
.contactInfo {
	margin-left: 15px;
	align-items: left;
}
.active {
	background-color: #0e71ea;
}
.listItems:hover {
	background-color: #2f2f2f;
	border-radius: 10px;
}
.listItems:hover .chats {
	color: #f4f4f4;
}
.active .chats {
	color: #f4f4f4;
}
button {
	all: unset;
}
