* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mingzat", sans-serif;
}
/*
		Online  - greenyellow
		Away    - grey
		Offline - white border with radius
*/

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, #00aff0, #00ff5f);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.chatbox {
  background: black;
  border-radius: 30px;
  width: 60%;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
}
.col-1 {
  flex: 1;
  width: 100px;
  background: black transparent;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  margin-right: 10px;
}
.col-2 {
  flex-basis: 250px;
  background: black transparent;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}
.msg-row {
  display: flex;
  align-items: center;
  margin: 40px;
}
.msg-text {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 40px;
  border-radius: 10px;
  flex-basis: 70%;
  font-weight: 300;
}
.msg-text h2 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
}
.msg-row2 {
  justify-content: flex-end;
}
.col-1 input {
  border: 0;
  outline: none;
  padding: 20px 40px;
  background: black;
  color: #fff;
  width: 100%;
  font-size: 16;
}
.search {
  height: 70px;
  width: 70px;
  border-radius: 30px;
}
::placeholder {
  color: #fff;
}
.col-2 h3 {
  text-align: center;
  margin-top: 40px;
  font-weight: 400;
}
.col-2 ul {
  list-style: none;
  padding: 30px;
}
.col-2 ul li {
  padding: 5px 0;
}
.col-2 ul li::before {
  content: " ";
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.col-2 ul li.online::before {
  background: greenyellow;
}
.col-2 ul li.offline::before {
  border-style: solid;
  border-width: 1px;
}
.col-2 ul li.away::before {
  background: grey;
}
