* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  background-size: cover;
  font-family: "Mingzat", sans-serif;
}
.submit-btn {
  margin-left: auto;
  border: none;
  outline: none;
  background: #1bb694;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
