* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 body {
	background: url('images/img1.png') no-repeat center;
	background-size: cover;
	font-family: sans-serif;
}

 /*login form*/
.login-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	position: relative;
	width: 100%;
	max-width: 380px;
	padding: 80px 40px 40px;
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	color: #fff;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form img {
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	width: 100px;
	background: rgba(255,255,255, 0.8);
	border-radius: 50%;
}
.form h2 {
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 2rem;
	color: #ff2f2f;
}
.form .input-group {
	position: relative;
}
.form .input-group input {
	width: 100%;
	padding: 10px 0;
	font-size: 1rem;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background-color: transparent;
	color: inherit;
}
.form .input-group label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 1rem;
	pointer-events: none;
	transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
	transform: translateY(-18px);
	color: #2ea101;
	font-size: .8rem;
}
.submit-btn {
	display: block;
	margin-left: auto;
	border: none;
	outline: none;
	background: #1bb694;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

/*Register form*/
.register{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.close{
	position: absolute;
	right: 1.5rem;
	top: 0.5rem;
	font-size: 2rem;
	font-weight: 900;
	text-decoration: none;
	color: inherit;
}
